@media(max-width: 700px) {
    nav.container {
        display: flex;
        flex-direction: column;
    }

    header .showcase >h1 {
        font-size: 2rem;
    }

    .container {
        width: 100%; 
    }
}

// Tablets & smaller

@media(max-width: 800px) {

    
    header.sm-header {
       height: 10rem;
       width: 100%;

       .container {
           display: flex; 
           flex-direction: column;
       }
    }

    #about {
        #intro {
            display: flex;
            flex-direction: column;

            img {
                display: none;
            }
        }
    }

    #testimonials {
        #testimonial-list {
            display: flex;
            flex-direction: column;
        }
    }

    .container {
        width: 100%;
    }

    header .container {
        width: 80%;
    }
    #work {
        #work-grid {
            display: flex;
            flex-direction: column;
        }
    }
    footer {
        padding: 4rem;
    }
}
// Phones 

@media(max-width: 420px) {
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            margin-bottom: 1.5rem;
        }
    }

    #creative {
        > div {
            padding: 0;
        }        
    }

    #specialization {
        > div {
            padding: 0;
            margin-top: 1rem;
        }
    }

    #awards {
        display: flex;
        flex-direction: column;
    }

    hr {
        width: 50%;
    }

    .contact-info-list {
        display: flex;
        flex-direction: column;

        > div {
            padding: 2.5rem !important;
        }
    }

    #next-project {
        padding: 3rem;
        h1 {
            font-size: 2rem;
        }
    }

    #contact-form form .text-fields{
        display: flex;
        flex-direction: column; 
    }

}