// COLORS
$main-color: #ffbc00;
$light-color: #f4f4f4;
$dark-color: #333;

// FONTS
$font-stack: 'Dosis', sans-serif;

// SIZES

$container-size-lg: 80%;


// PADDING
$padding-lg: 3rem;
$padding-med: 1.5rem;
$padding-sm: 0.5rem;
