footer {
    background-color: $dark-color;
    color: $light-color;
    padding: $padding-med;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .social-list {
        display: flex;
    }
}