body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px; 
    line-height: 1.6em;
}

h2 {
    font-size: 25px; 
}

p {
    font-weight: 400;
}

#welcome p span {
    font-weight: bold; 
}

#about p span {
    font-style:italic; 
}